/* LIGHT THEME */
:root {
	--back-back: #fff;
	--back-main: #eee;
	--text-main: #111;
	--text-link: #555;
	--text-back: #777;
	--text-mark: cornflowerblue;
}


/* DARK THEME */
@media (prefers-color-scheme: dark) {
	:root {
		--back-back: #111;
		--back-main: #222;
		--back-mark: #333;
		--text-main: #eee;
		--text-link: #aaa;
		--text-back: #777;
		--text-mark: cornflowerblue;
	}
}



/* GENERAL */
html {
	font-family: helvetica;
	font-size: 20px;
	/* letter-spacing: -1px; */
	background: var(--back-back);
	color: var(--text-main);
}

body {
	margin: 0;
	padding: 0;
}

* {
	/* font-weight: 100; */
	font-weight: 200;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}




/* TABLES */
table {
	border-collapse: collapse;
}

.stripes tr:nth-child(2) {
	background: var(--back-back);
}





/* TEXT */
article {
	width: 100%;
	max-width: 21cm;
	min-height: 100%;
	margin: 0 auto;
	background: var(--back-main);
	padding: 1rem;
	text-align: center;
}


p {
	text-align: justify;
	padding: 1rem;
}







/* DIN SIZES */
.A4 {
	width: 210mm;
}

.A5 {
	width: 148mm;
}

.A6 {
	width: 105mm;
}

.A7 {
	width: 44mm;
}




/* STACKS */
.v-stack {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.h-stack {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.spread {
	justify-content: space-between;
}

.center {
	justify-content: center;
}




/* CENTERING */
.h-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}




/* LINKS */
a {
	text-decoration: none;
	color: var(--text-link);
}

a:hover {
	color: var(--text-mark);
	cursor: pointer;
}




/* BUTTONS */
button {
	background: var(--back-main);
	color: white;
	border: none;
}

button:hover {
	background: #444;
}








/* HEADINGS */
h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.3rem;
}





/* CUSTOM TAGS */
card {
	display: inline-block;
	background: var(--back-main);
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
	/* padding: 0; */
	overflow: hidden;
}
