:root {
	--back-back: #fff;
	--back-main: #eee;
	--text-main: #111;
	--text-link: #555;
	--text-back: #777;
	--text-mark: cornflowerblue;
}

@media (prefers-color-scheme: dark) {
	:root {
		--back-back: #111;
		--back-main: #222;
		--text-main: #eee;
		--text-link: #aaa;
		--text-back: #777;
		--text-mark: cornflowerblue;
	}
}


html {
	font-family: helvetica;
	font-size: 20px;
	/* letter-spacing: -1px; */
	background: var(--back-back);
	color: var(--text-main);
}

* {
	/* font-weight: 100; */
	font-weight: 200;
	box-sizing: border-box;
}

table{
	border-collapse: collapse;
}
tr:nth-child(2){
	background: var(--back-back);
}
main {
	width: 100%;
	max-width: 21cm;
	margin: 0 auto;
	background: var(--back-main);
	padding: 1rem;
}

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: var(--text-link);
}

a:hover {
	color: var(--text-mark);
	cursor: pointer;
}

p {
	text-align: justify;
	margin: 1rem;
}
