@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  font-family: Quicksand;
}

@media (prefers-color-scheme: dark) {
  * {
    background: #222;
    color: #eee;
  }

}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}