@import '/css/quicksand.css';
@import '/css/inconsolata.css';

html {
	font-size: 20px;
}

* {
	/* font-size: 20px; */
	/* font-family: "Inconsolata"; */
}

@media (min-width:800px) {
	body {
		margin-left: 30%;
		margin-right: 30%;
	}
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
}

fieldset {
	margin-bottom: 3rem;
	width: 100%;
	box-sizing: border-box;
}

table {
	width: 100%;
	box-sizing: border-box;
}

.small * {
	font-size: .7rem;
}

.side,
.side * {
	color: gray;
}

.viertel {
	color: gray;
}

input[type='number'] {
	/* font-family: "Inconsolata"; */
}

input {
	font-size: .8rem;
	width: 100%;
	background: #eee;
	color: black;
	border: none;
	text-align: right;
	border-radius: 5px;
	/* padding:0; */
}

.mark {
	font-weight: bold;
}

input {
	width: 5rem;
}

td {
	text-align: right;
}

td:first-child {
	text-align: left;
}

td:last-child {
	text-align: left;
	color: gray;
	width: 20px;
}

td {
	white-space: nowrap;
}

[quality=bad] {
	color: red;
	font-weight: bold;
}

[quality=good] {
	color: lightgreen;
	font-weight: bold;
}

#rendite,
#total {
	/* font-size: 30px; */
}

h1 {
	/* font-size: 40px; */
}

sup {
	font-size: .5em !important;
}

sub {
	/* font-size: 17px; */
}

u {
	text-decoration: none;
	/* font-size: 20px; */
}

#mail {
	display: none;
}