@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 300;
    src: local('source.code.300'), url(https://git.max.pub/style/font/source.code.300.ttf) format('ttf');
}

* {
    font-family: 'Source Code Pro';
    font-weight: 300;
}
