* {
	font-size: 20px;
	font-family: "Inconsolata";
}

@media (min-width:800px) {
	body {
		margin-left: 30%;
		margin-right: 30%;
	}
}
a{
	text-decoration: none;
	color: black;
}
fieldset {
	margin-bottom: 3rem;
	width: 100%;
	box-sizing: border-box;
}

table {
	width: 100%;
	box-sizing: border-box;
}

.small * {
	font-size: 15px;
}

.viertel {
	color: gray;
}

input {
	width: 100%;
	background: #ddd;
	color: black;
	border: none;
	text-align: right;
}

input {
	width: 120px;
}

td {
	text-align: right;
}

td:first-child {
	text-align: left;
}

td:last-child {
	text-align: left;
	color: gray;
	width: 20px;
}

td {
	white-space: nowrap;
}

#rendite,
#total {
	font-size: 30px;
}

h1 {
	font-size: 40px;
}

sup {
	font-size: 15px;
}

sub {
	font-size: 17px;
}

u {
	text-decoration: none;
	font-size: 20px;
}

#mail {
	display: none;
}